@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist-mono";
@import "@fontsource-variable/geist";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #FFFFFF;
  --foreground: #0F172A;
  --card: #FFFFFF;
  --card-foreground: #0F172A;
  --popover: #FFFFFF;
  --popover-foreground: #0F172A;
  --primary: #F97316;
  --primary-foreground: #FFFFFF;
  --secondary: #FB923C;
  --secondary-foreground: #FFFFFF;
  --muted: #F1F5F9;
  --muted-foreground: #64748B;
  --accent: #F97316;
  --accent-foreground: #FFFFFF;
  --destructive: #EF4444;
  --destructive-foreground: #FFFFFF;
  --border: #E2E8F0;
  --input: #E2E8F0;
  --ring: #F97316;
  --radius: 0.5rem;
  --chart-1: #F97316;
  --chart-2: #FB923C;
  --chart-3: #FDBA74;
  --chart-4: #FED7AA;
  --chart-5: #FFEDD5;
  --footer-bg: #fff1eb;

  --font-heading: 'Geist Variable', sans-serif;
  --font-body: 'Geist Mono Variable', monospace;
}

.dark {
  --background: #0F172A;
  --foreground: #F1F5F9;
  --card: #1E293B;
  --card-foreground: #F1F5F9;
  --popover: #1E293B;
  --popover-foreground: #F1F5F9;
  --primary: #F97316;
  --primary-foreground: #FFFFFF;
  --secondary: #FB923C;
  --secondary-foreground: #FFFFFF;
  --muted: #1E293B;
  --muted-foreground: #94A3B8;
  --accent: #F97316;
  --accent-foreground: #FFFFFF;
  --destructive: #EF4444;
  --destructive-foreground: #FFFFFF;
  --border: #334155;
  --input: #334155;
  --ring: #F97316;
}

#root {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

@theme inline {
  --font-mono: var(--font-body);
  --font-heading: var(--font-heading);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --color-footer-bg: var(--footer-bg);
  --radius-sm: calc(var(--radius) * 0.75);
  --radius-md: var(--radius);
  --radius-lg: calc(var(--radius) * 1.25);
  --radius-xl: calc(var(--radius) * 1.75);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-mono;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-heading font-semibold text-foreground;
  }
}